.calendar-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 93vh;
  place-items: start;
  gap: 5px;
  margin-top: 2rem;
}

.calendar-month {
  grid-column: 1;
}

.calendar-day {
  grid-column: 2;
}

.dx-widget {
  background: rgba(245, 245, 245, 0.877);
}
.dx-scheduler-date-table div {
  color: rgb(29, 29, 29);
}
