.home-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  overflow: auto;
  height: 93.5vh;
  position: relative;
}

.home-photo {
  position: absolute;
  width: auto;
  place-self: center;
  height: 93.5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  /* left: 33%; */
}

.calendar-home-container {
  position: relative;
  grid-column: 1;
  /* height: 50rem; */
  /* width: 50%; */
  overflow: auto;
  /* background: rgba(218, 218, 218, 0.733); */
  opacity: 0.8;
  top: 10%;
}

.recent-list-container {
  position: relative;
  grid-column: 2;
  top: 10%;
  /* height: fill; */
}
