.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  gap: 20px;
  grid-auto-flow: dense;
  place-items: space-between;
  justify-content: center;
  margin-left: 4rem;
}

.lists-container {
  overflow: auto;
  height: 93.5vh;
}

.list-container {
  display: grid;
  grid-template-rows: minmax(2rem, 4rem);
  grid-template-columns: auto auto;
  border: 1px solid black;
  width: auto;
  grid-auto-flow: dense;
}

.list-title {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.list-delete {
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.list-container textarea {
  background: none;
  border: none;
  resize: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.list-container textarea:focus,
textarea:hover {
  outline: none;

  opacity: 0.9;
  background: rgba(221, 221, 221, 0.541);
}
.list {
  grid-column: span 2;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 30px;
  font-size: large;
  resize: none;

  /* width: 100%; */
  /* grid-column: span 2; */
}

.list-item-delete {
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.photo-tool-bar {
  grid-column: 1;
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
