.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  gap: 20px;
  place-items: space-between;
  justify-content: center;
  margin-left: 4rem;
}

.lists-container {
}

.list-container {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-columns: auto 1.5rem;
  border: 1px solid black;
}

.list-title {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.list-delete {
  place-self: center;
}

.list-container input {
  background: none;
  border: none;
}

.list-container input:focus,
input:hover {
  outline: none;

  opacity: 0.9;
  background: rgba(221, 221, 221, 0.541);
}

.list-item {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 30px;
}

.photo-tool-bar {
  grid-column: 1;
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
