.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  gap: 20px;
  grid-auto-flow: dense;
  place-items: space-between;
  justify-content: center;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.lists-container {
  overflow: auto;
  height: 93vh;
}

.list-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  box-shadow: 5px 5px 2px 2px rgba(100, 100, 100, 0.794);
  width: auto;
  min-height: 15rem;
  grid-auto-flow: dense;
  background: rgba(255, 255, 255, 0.541);
  padding: 1rem;
}

.list-title {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.list-delete {
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.list-container textarea {
  background: none;
  border: none;
  resize: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.list-container textarea:focus,
textarea:hover {
  outline: none;

  opacity: 0.9;
  background: rgba(221, 221, 221, 0.541);
}
.list {
  grid-column: span 2;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  row-gap: 30px;

  /* width: 100%; */
  /* grid-column: span 2; */
}

.list-item-content {
  font-size: large;
}

.list-item-content.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.603);
}

.list-item-delete {
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.lists-tool-bar {
  grid-column: 1;
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
