.photo-album-container {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: auto;
  height: 93.5vh;
  margin-left: 4rem;
}

.photo-album {
  grid-column: 2;
  line-height: 2;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 10px;
}

.photo-container {
  position: relative;
  top: 0;
  left: 0;
}

.photo {
  width: 100% !important;
  height: auto !important;
  box-shadow: 5px 5px 2px 2px rgba(100, 100, 100, 0.794);
  position: relative;
  top: 0;
  left: 0;
}

.photo:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .photo-album {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  .photo-album {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .photo-album {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .photo-album {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.favorite-star {
  position: absolute;
  top: 5px;
  left: 5px;
}

.favorite-star:hover {
  transform: scale(1.2);
}

/* Upload Photo*/

.photo-tool-bar {
  grid-column: 1;
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.upload-button {
  background: none;
  border: none;
  color: rebeccapurple;
}

.upload-button:hover {
  transform: scale(1.1);
}

.photo-upload {
  place-self: center;
  width: 80%;
  height: 30rem;
  background: rgba(100, 100, 100, 0.712);
  border: 2px dashed black;
}

.photo-upload.active {
  opacity: 0.8;
  border: 2px solid black;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: rgba(75, 75, 75, 0.425);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.modal-container {
  height: 200px;
  width: 400px;
  background: rgba(209, 209, 209, 0.651);
  z-index: 1500;
  border-radius: 10px;
  /* box-shadow: 0 0 2px 2px black; */

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  place-items: center;
  position: absolute;
}

.close-upload {
  background: rgba(209, 209, 209, 0.157);
  margin: 10px 10px 0 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.822);
  grid-row: 1;
  grid-column: 2;
  align-self: start;
  justify-self: end;
}

.upload-field {
  grid-row: span 2;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
